<footer class="footer">
  <div class="container-lg">
    <div class="footer-row">

      <div class="footer-item-left text-muted">
        <i>Last updated: {{ "now" | date: "%b %Y" }}</i>
      </div>

      <div class="geo_wrapper">
        <div class="geostat-button">ClustrMaps</div>
        <div class="geostat-container">
        </div>
      </div>

      <div class="footer-item-right text-right text-muted">
        {{ site.data.display.footer_text }}
      </div>

    </div>
  </div>
</footer>

<script src="{{ '/js/custom.js' | relative_url }}"></script>
<script> render_clustrmaps(); </script>
