<div class="presenters">
  {% for p in page.presenters %}
  <table class="imgtable">
    <tr>
      <td valign="top">
        <img src="{{ p.photo }}" alt="Image of {{ p.name }}" width="{{ p.photo_size | default: '238px' }}" height="{{ p.photo_size | default: '238px' }}" />
      </td>
      <td valign="top" align="left">
        <p>
          {% if p.link %}
            {% assign replacement = '<a href="' | append: p.link | append: '"><span style="font-size: 1.25em; font-weight: bold;">' | append: p.name | append: '</span></a>' %}
          {% else %}
            {% assign replacement = '<span style="font-size: 1.25em; font-weight: bold;">' | append: p.name | append: '</span>' %}
          {% endif %}

          {{ p.bio 
             | replace: '<b>', '' 
             | replace: '</b>', '' 
             | replace: p.name, replacement 
          }}
        </p>
      </td>
    </tr>
  </table>
  <br/><br/>
  {% endfor %}
</div>
