{% assign raw_pubs = include.publications %}

{% assign preprints = raw_pubs | where_exp: "item", "item.type == 'preprint'" | sort: "date" | reverse | sort: "year" | reverse %}

{% assign formal_pubs = raw_pubs | where_exp: "item", "item.type != 'preprint'" | sort: "date" | reverse | sort: "year" | reverse %}

{% assign grouped_pubs = preprints | concat: formal_pubs %}

{% for item in grouped_pubs limit: include.limit %}
    {% assign is_first = forloop.first %}
    {% assign is_last = forloop.last %}
    
    {% include widgets/publication_entry.html item=item first=is_first last=is_last %}
{% endfor %}